.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 1rem 1rem .6rem;
  width: 100vw;
  height: 32px;
  background-color: var(--color-black);
  color: #fff;
  font-size: 13px;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo--container {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo--container img {
  max-width: 100%;
  max-height: 100%;
}

.header__right {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header__right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

  