.table thead th {
  font-size: 0.65rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #e9ecef;
}

.table th {
  font-weight: 600;
}

.table td,
.table th {
  font-size: 0.8125rem;
  white-space: nowrap;
}
