table{
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;

    border-radius: 8px;
box-shadow: 0px 1px 25px rgb(0,0,0,0.09);
}

thead{
    background-color: brown;
    color:#fff;
    
}

 tr {
    border-radius: 8px;
border-bottom: 1px solid  #d5d0d0;

}

th{
    padding: 10px;
    text-align: center;
}
td{
padding: 10px
}

button {
    border: none;
    background: none;
    color: brown;
    
}

center{
    text-align: center;
}