:root {
  --color-red: #c30608;
  --color-black: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.light-bg {
  background-color: #fbfbfb;
}

.bg-red {
  background: rgba(195, 6, 8, 0.18) !important;
  backdrop-filter: blur(7px) !important;
  -webkit-backdrop-filter: blur(7px) !important;
}

.gray-text {
  color: #5a6169;
}

.text-semibold {
  font-weight: 400;
}

.text-bold {
  font-weight: 500;
}

.question {
  line-height: 25px;
  font-size: 0.9rem;
  color: #3d5170 !important;
}

.main-container {
  display: flex;
}

.page-header .page-title {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (max-width: 767.98px) {
  .page-header .page-title {
    font-size: 2rem;
  }
}

.page-header .page-subtitle {
  letter-spacing: 0.125rem;
  color: #818ea3;
  font-size: 0.625rem;
}
@media (max-width: 767.98px) {
  .page-header .page-subtitle {
    font-size: 0.8125rem;
    font-weight: 400;
  }
}

.list-group-small .list-group-item {
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
}

.custom-card {
  background-color: #fff;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.custom-card-header {
  padding: 1.09375rem 1.875rem;
  background-color: #fff;
  border-bottom: none;
}
.custom-card-header:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
}

.custom-card-title {
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: #3d5170 !important;
}

.custom-card-title-sm{
  font-size: 16px;
  line-height: 1.5;
}

.custom-card-footer {
  padding: 1.09375rem 1rem;
  background-color: #fff;
  border-top: none;
}
.custom-card-footer:last-child {
  border-radius: 0 0 0.625rem 0.625rem;
}

.custom-card-small {
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}
.custom-card-small .card-header,
.custom-card-small .card-body,
.custom-card-small .card-footer {
  padding: 1rem 1rem;
}

.custom-card .expand {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.75rem;
}

.card-post .custom-card-body {
  padding: 1.5625rem 1.5625rem;
}

.card-post p {
  font-size: 15px;
}

.card-post__image {
  position: relative;
  min-height: 10.3125rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn.btn-white {
  border: 1px solid #e1e5eb;
  color: #3d5170;
}

.btn-white {
  color: #212529;
  border-color: #fff;
  background-color: #fff;
  box-shadow: none;
}

.card-post__project-name {
  font-weight: 500;
  font-size: 14px;
  color: #5a6169;
}